@CHARSET "ISO-8859-1";


.word-shadow{
	 font-family: "Segoe UI";
	 src: local("Segoe UI Semilight");
	 font-size:20px;
	 background:#ffffff;
	 color:#00134d;
}	
.caption{
    color:blue;
    font-family:Raleway;
    font-size:20px;
}

.text{
    color:#00134d;
    font-family:Raleway;
    font-weight: bold;
    font-size:20px;
}

.mandatory{
    color:red;
}

.bold{
    font-weight: bold;
}

.tab{
	margin-top: 0.5%;
	margin-bottom : 0.5%;
	padding-left : 0.5%;
	padding-right : 0.5%;
}

.footer{
    color:#00134d;
    font-family:Raleway;
    font-size:17px;
}